![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [133]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import os

os.listdir('data/'
          )

['airbnb_room_type.xlsx', 'airbnb_price.csv', 'airbnb_last_review.tsv']

In [134]:
# Loading data
import pandas as pd

price_location = pd.read_csv('data/airbnb_price.csv')
room_type = pd.read_excel('data/airbnb_room_type.xlsx')
last_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t', header=0, date_parser=True)

display(price_location.head())
display(room_type.head())
display(last_review.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [135]:
# What are the dates of the earliest and most recent reviews? 

last_review['last_review'] = pd.to_datetime(last_review['last_review'])
last_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 591.0+ KB

In [136]:
dates_ordered = last_review['last_review'].sort_values(ascending=True)
earliest_date = dates_ordered.iloc[0]
latest_date = dates_ordered.iloc[-1]
print('early:',earliest_date, 'latest:', latest_date)

early: 2019-01-01 00:00:00 latest: 2019-07-09 00:00:00

In [137]:
# How many of the listings are private rooms? 

room_type['room_type'] = room_type['room_type'].str.lower()
private_rooms = room_type[room_type['room_type'] == 'private room']
count_private_rooms = private_rooms['room_type'].value_counts()
#count_private_rooms = int(count_private_rooms)

In [138]:
(room_type['room_type'].str.lower()).value_counts()

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [139]:
# What is the average listing price?

price_location['price_int'] = price_location['price'].str.extract('(\d+)')
price_location['price_int'] = price_location['price_int'].astype(int)
mean_price = price_location['price_int'].mean().round(2)
print(mean_price)

141.78

In [140]:
# Dataframe with results

review_dates = pd.DataFrame({
    'first_reviewed': earliest_date,
    'last_reviewed': latest_date,
    'nb_private_rooms': count_private_rooms,
    'avg_price': mean_price
})

#review_dates = review_dates.drop('index', axis=1)

display(review_dates)

             first_reviewed last_reviewed  nb_private_rooms  avg_price
private room     2019-01-01    2019-07-09             11356     141.78